.login {
    @include view(flex, center, center);
    @include area(100%, 100vh);
    min-width: 400px;

    & > img {
        @include area(100%, 100vh);
        position: fixed;
        z-index: 0;
        filter: blur(5px);
        top: 0;
    }

    & > form {
        @include view(flex, center, center);
        @include border-radius(1px solid transparent, 3rem);
        width: 30rem;
        margin-top: $headerHeight;
        flex-direction: column;
        z-index: 1;
        gap: 1rem;
        background-color: $white;
        padding: 2rem;
        box-shadow: 10px 10px 40px -3px gray;
    }
}

.loginLogin {
    min-height: 24rem;
}

@media (max-width: 500px) {
    .login {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .login {
        padding: 0;
    }
}
