.homeCarousel {
    @include area(100%, 100%);
    @include view(flex, center, center);
}

.homeCarouselImage {
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
}

// Carousel Front
.homeCarouselFront {
    @include area(100%, 100vh);
    @include bcolor(transparent, white);
    @include view(flex, center, center);
    z-index: 1;
    position: absolute;
}

.homeCarouselShadow {
    @include area(36%, 17%);
    box-shadow: 0px 0px 50px 50px black;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background-color: $black;
    opacity: 0.65;
}

.homeCarouselTitle {
    @include view(flex, center, center);
    flex-direction: column;
    z-index: 2;
    & > p {
        font-size: 2rem;
        margin: 0;
    }
    & > h1 {
        font-size: 7rem;
        margin: 0;
    }
}

.homeBand {
    @include area(100%, 100vh);
    @include view(flex, center, center);
}

.homeBandImages {
    @include area(50%, 80%);
    @include view(grid, center, center);
    @include border-radius(1px solid transparent, 3rem);
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 2rem;
    transition: border-color 1s ease-in-out;

    & > img {
        @include area(11rem, 11rem);
        @include border-radius(1px solid $neon-sign, 3rem);
        opacity: 0;
        transition: opacity 1s ease-in-out, border-color 1s ease-in-out, transform 1s ease-in-out;
    }
}

.homeBandSlide {
    opacity: 1 !important;
}

.homeBandHideBorder {
    border-color: transparent !important;
}

.homeBandShowBorder {
    border-color: $neon-sign !important;
}

.homeBandTransformCenter {
    transform: translate(0, 0);
}
.homeBandTransform1 {
    transform: translate(-10%, -10%);
}
.homeBandTransform2 {
    transform: translate(10%, -10%);
}
.homeBandTransform3 {
    transform: translate(-10%, 10%);
}
.homeBandTransform4 {
    transform: translate(10%, 10%);
}

@media (max-width: 700px) {
    .homeCarouselTitle {
        & > p {
            font-size: 1rem;
        }
        & > h1 {
            font-size: 5rem;
        }
    }
}

@media (max-width: 500px) {
    .homeCarouselTitle {
        & > h1 {
            font-size: 3rem;
        }
    }
}

.homeEnd {
    @include area(60%, 7rem);
    @include view(flex, center, center);
    @include border-radius(1px solid transparent, 2rem);
    @include animation("gradient 15s ease infinite");
    color: $white;
    margin: 4rem auto;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}

.homeInstall {
    @include view(flex, center, center);
    font-size: 1rem;
    opacity: 0.6;
    cursor: pointer;
}
