/* 
** Section1. Home - Carousel
*/
.homeCarousel {
    @include area(100%, 100%);
    @include view(flex, center, center);
}

.homeCarouselImage {
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
}

// Carousel Front
.homeCarouselFront {
    @include area(100%, 100vh);
    @include bcolor(transparent, white);
    @include view(flex, center, center);
    z-index: 1;
    position: absolute;
}

.homeCarouselShadow {
    @include area(36%, 17%);
    box-shadow: 0px 0px 50px 50px black;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background-color: $black;
    opacity: 0.65;
}

.homeCarouselTitle {
    @include view(flex, center, center);
    flex-direction: column;
    z-index: 2;
    & > p {
        font-size: 2rem;
        margin: 0;
    }
    & > h1 {
        font-size: 7rem;
        margin: 0;
    }
}

.homeInstall {
    @include view(flex, center, center);
    font-size: 1rem;
    opacity: 0.6;
    cursor: pointer;
}

/* 
** Section2. Home - Band
*/
.homeReview {
    @include view(flex, center, center);
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    overflow: hidden;
}

.homeReviewCards {
    @include view(flex, center, center);
    @include animation("carousel-infinite 40s linear infinite");
}

.homeReviewCard {
    @include view(flex, space-between, center);
    @include border-radius(1px solid transparent, 3rem);
    @include bcolor($white, $black);
    height: 35rem;
    flex-direction: column;
    padding: 2rem 4rem;
    margin-right: 3rem;
    box-shadow: 10px 10px 20px 10px $gray;

    & > p:nth-child(2) {
        font-size: 2rem;
        margin: 0;
    }
    & > p:nth-child(3) {
        font-size: 1.3rem;
    }
}

.homeReviewCardProfile {
    @include view(flex, center, center);
    width: 16rem;
}

.homeReviewImage {
    @include area(10rem, 10rem);
    background: url("/home/review.webp") no-repeat;
    background-size: 40rem 28rem;
}

@for $i from 0 to 8 {
    .homeReviewImage#{$i} {
        background-position: -((18px + $i * 147px) % 588px) if($i < 4, -55px, -230px);
    }
}

.homeReviewRate {
    @include view(flex, center, center);
    gap: 0.5rem;

    & > p {
        font-size: 2rem;
    }
}

.homeReviewRateImage {
    @include area(2.5rem, 2.5rem);
}

.homeReviewFooter {
    @include bcolor($white, $black);
    @include border-radius(1px solid transparent, 3rem);
    padding: 1rem 2rem;
}

/* 
** Section3. Home - End
*/
.homeEnd {
    @include area(60%, 7rem);
    @include view(flex, center, center);
    @include border-radius(1px solid transparent, 2rem);
    @include animation("gradient 15s ease infinite");
    color: $white;
    margin: 4rem auto;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    padding: 2rem;
    word-break: keep-all;
    text-align: center;
}

@media (max-width: 900px) {
    .homeEnd {
        width: 80%;
        font-size: 1.5rem;
    }
}

@media (max-width: 730px) {
    .homeCarouselTitle {
        & > p {
            font-size: 1.5rem;
        }
        & > h1 {
            font-size: 5rem;
        }
    }

    .homeReviewCard {
        height: 30rem;
        padding: 1rem 2rem;
        & > p:nth-child(2) {
            font-size: 1.5rem;
        }
        & > p:nth-child(3) {
            font-size: 1rem;
        }
    }
}

@media (max-width: 500px) {
    .homeEnd {
        width: 100%;
    }

    .homeCarouselTitle {
        & > p {
            font-size: 1rem;
        }
        & > h1 {
            font-size: 3.5rem;
        }
    }

    .homeReviewFooter {
        font-size: 1rem;
        word-break: keep-all;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .homeCarouselTitle {
        & > p {
            font-size: 0.8rem;
        }
        & > h1 {
            font-size: 2.5rem;
        }
    }

    .homeEnd {
        font-size: 1rem;
    }
}
