.footer {
    @include view(flex, center, center);
    @include bcolor($footer-bcolor, $white);
    height: 6rem;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid $sepline;
    position: relative;
    min-width: 25rem;
}

.footer a {
    @include view(flex, center, center);
    flex-grow: 1;
    margin: 0 0.5rem;
    transition: color 0.5s ease-in-out;

    &:hover {
        color: $a-tag-color;
    }
}
