.result {
    @include area(100%, 100%);
    @include view(flex, center, flex-start);
    @include border-radius(1px solid transparent, 3rem);
    @include bcolor($white, $black);
    flex-direction: column;
    margin-left: 2rem;
    padding: 2rem;
}

.resultTitle {
    @include view(flex, space-between, center);
    width: 100%;
    & > div {
        & > select {
            @include area(6rem, 2.5rem);
            padding: 0;
            outline: none;
        }
    }
}

.resultTable {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 3rem;
}

.resultTableHead,
.resultTableBody {
    @include view(grid, center, center);
    grid-template-columns: 1fr 10fr 2fr;
    white-space: nowrap;
}

.resultTableHead {
    border-bottom: 2px double $black;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
}

.resultTableBody {
    & > p > span {
        @include border-radius(1px solid $lightgray, 3rem);
        @include bcolor($lightgray, $black);
        font-size: 0.6rem;
        padding: 0.3rem 0.7rem;
        margin-left: 0.4rem;
    }
    &:hover {
        background-color: $lightgray;
        cursor: pointer;
    }
}

.resultTableNone {
    grid-template-columns: 13fr;
    cursor: auto !important;
    height: 20rem;
    &:hover {
        background-color: transparent;
    }
}

.resultLoading {
    @include view(flex, center, center);
    color: $black;
    padding: 3rem;
    font-size: 2rem;
}

.resultLoadingHide {
    display: none;
}

@media (max-width: 900px) {
    .resultTableHead {
        font-size: 0.9rem;
    }
    .resultTableBody {
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    .result {
        margin: 0;
        border: 1px solid $body-bcolor;
        padding: 2rem 1rem;
    }
    .resultTableHead,
    .resultTableBody {
        grid-template-columns: 1fr 7fr;
    }
    .resultTableNone {
        grid-template-columns: 8fr;
    }
    .resultTableSub {
        display: none;
    }
}
