.nav {
    @include bcolor($white, $black);
    @include view(flex, center, center);
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    min-height: 40.5rem;
    border-right: 1px solid $sepline;
    border-radius: 3rem 0 0 3rem;
}

.navProfile {
    @include area(12.5rem, 12.5rem);
}

.navRouter {
    & > p {
        cursor: pointer;
    }
}

@media (max-width: 730px) {
    .nav {
        padding: 3rem 1rem;
        & > * {
            font-size: 70%;
        }
    }
    .navProfile {
        padding: 1.5rem;
    }
}

@media (max-width: 500px) {
    .nav {
        width: 10rem;
    }
}
