.video {
    @include area(60%, 40rem);
    @include view(flex, center, center);
    @include bcolor($white, $black);
    flex-direction: column;
    border-left: 1px solid $sepline;
    border-top: 1px solid transparent;
    border-radius: 0 3rem 3rem 0;
    & > h1 {
        @include view(flex, flex-start, center);
        width: 100%;
        padding: 0 1rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.videoList {
    @include view(flex, flex-start, center);
    @include area(100%, 35rem);
    flex-direction: column;
    & > div {
        @include view(flex, flex-end, center);
        width: 100%;
        & > button {
            margin-right: 1rem;
        }
    }
    & > p {
        @include view(flex, center, center);
        height: 100%;
    }
}

.videoListLink {
    justify-content: center !important;
    flex-wrap: wrap;
    padding: 0 2rem 2rem 2rem;
    gap: 1rem;
    overflow-y: overlay;
    overflow-x: hidden;
}

.videoYoutube {
    width: 100%;
    max-width: 40rem;
    & > div {
        width: 100%;
    }
    & > div:first-child {
        height: 90%;
    }
}

.videoYoutubeBtn {
    @include view(flex, center, center);
    width: 100%;
    & > button {
        @include bcolor(transparent, $black);
        width: 100%;
    }
}

.videoYoutubeHide {
    height: 3rem !important;
}

@media (max-width: 500px) {
    .videoList > div {
        justify-content: center;
        & > button {
            margin-right: 0;
        }
    }
}

@media (max-width: 400px) {
    .video {
        border-left: 1px solid transparent;
        border-top: 1px solid $sepline;
        border-radius: 0 0 3rem 3rem;
        width: 15rem;
    }
}
