@mixin view($display, $justify-content: normal, $align-items: normal) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin area($width, $height) {
    width: $width;
    height: $height;
}

@mixin bcolor($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

@mixin border-radius($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}
