@mixin view($display, $justify-content: normal, $align-items: normal) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin area($width, $height) {
    width: $width;
    height: $height;
}

@mixin bcolor($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

@mixin border-radius($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

@mixin mypage-contents() {
    @include area(60%, 40rem);
    @include view(flex, center, center);
    @include bcolor($white, $black);
    flex-direction: column;
    border-left: 1px solid $sepline;
    border-top: 1px solid transparent;
    border-radius: 0 3rem 3rem 0;
    & > h1 {
        @include view(flex, flex-start, center);
        width: 100%;
        padding: 0 1rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

@mixin mypage-contents-list() {
    @include view(flex, flex-start, center);
    @include area(100%, 35rem);
    flex-direction: column;
    & > p {
        @include view(flex, center, center);
        height: 100%;
    }
}

@mixin animation($str) {
    animation: #{$str};
}

@mixin keyframe($animation_name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframe(button-pop) {
    0% {
        scale: 1.05;
    }
    50% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}
