html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    background-color: $body-bcolor;
    transition: all 1s cubic-bezier(0.34, -0.6, 0.515, 1.57);
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 3rem);
}

input,
select {
    @include border-radius(1px solid $sepline, 3rem);
    @include area(25rem, 3rem);
    padding: 1rem;
    &:focus {
        outline: 1px solid $black;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

button {
    @include border-radius(1px solid $sepline, 3rem);
    @include area(6rem, 2.5rem);
    @include bcolor($a-tag-color, $white);
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

@media (max-width: 500px) {
    input,
    select {
        width: 15rem;
        font-size: 0.5rem;
        padding: 0.6rem;
    }
    p {
        font-size: 0.5rem !important;
    }
}

/* Dark Mode */
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
