html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    background-color: $body-bcolor;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 3rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Dark Mode */
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
